/* 헤더 전역 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    padding: 0 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; /* 🔥 이게 중요 */
}